{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow-lg border-0 rounded-4">

                <div class="card-body p-4">

                    <div class="text-center">

                        <h2 class="fw-bold text-primary">
                            Student Attendance System
                        </h2>

                        <p class="text-muted">
                            Login to Continue
                        </p>

                    </div>

                    <form action="{{ url_for('login') }}"
                          method="POST">

                        <div class="mb-3">

                            <label class="form-label">
                                Username
                            </label>

                            <input
                                type="text"
                                id="username"
                                name="username"
                                class="form-control"
                                placeholder="Enter Username"
                                required>

                        </div>

                        <div class="mb-3">

                            <label class="form-label">
                                Password
                            </label>

                            <input
                                type="password"
                                id="password"
                                name="password"
                                class="form-control"
                                placeholder="Enter Password"
                                required>

                        </div>

                        <div class="d-grid">

                            <button
                                type="submit"
                                class="btn btn-primary">

                                Login

                            </button>

                        </div>

                    </form>

                    <hr>

                    <div class="text-center">

                        <p>

                            Don't have an account?

                            <a href="{{ url_for('register') }}">

                                Register

                            </a>

                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}